# Bo qua cac thu muc thu vien cua STM32 de Github khong dem code C cua chung
HTN_stm32/Drivers/** linguist-vendored
HTN_stm32/Middlewares/** linguist-vendored
HTN_stm32/Core/Startup/** linguist-vendored

# Dam bao Github nhan dien duoc Python
*.py linguist-detectable
